<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="com.wbqa" parallel="none">

	<listeners> 
		<listener class-name ="com.wbqa.Utilities.Reporting" />
	</listeners>


	<test name = "WhiteBoxQA login page test">
		<parameter name="browser" value="chrome"/>
		<classes>
			<class name= "com.wbqa.TestCase.TestLogin" />
<!-- <class name= "TestLoginDDT "/> -->
		</classes>
		
	</test>
	
</suite>